<!DOCTYPE html>
<html lang="pt-br">
<head>
	<meta charset="UTF-8">
	<title>Cadastro de imóveis</title>
</head>
<body>
	<h1>Cadastro de imóveis</h1>
	{{ form_start(form) }}
	{{ form_widget(form) }}
	{{ form_end(form) }}
</body>
</html>