<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Imobiliaria Feliz</title>
</head>
<body>
    <h1>Imóveis para alugar</h1>
    {% for imovel in imoveis %}
    <div>
        <h2>{{imovel.titulo}}</h2>
        <p>Tipo do imovel: {{imovel.tipo}}</p> 
        <p>Tamanho: {{imovel.tamanho}}</p>       
        <p>Preço: R$ {{imovel.preco}}</p>        
    </div>
    {% endfor %}
</body>
</html>
